{{>header}}

{{>navigation}}

<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <h2>Signup</h2>
      {{#display}}<p>User account created!<a href="/login"> Login </a> to access you new account.</p>{{/display}}
      <p>Enter your username and password below to signup.</p>
      <p style="color:red;">{{ login_error }}</p>
      <form action="/login/signup/attemptsignup" method="post">
        <label for="username">Username:</label>
        <input type="text" name="username"> <br /> <br />
        <label for="password">Password:</label>
        <input type="text" name="password"> <br /> <br />
        <input type="submit" value="Signup">
      </form> <br />
    </div>
  </div>

  {{>sidebar}}

</div>

{{>footer}}
